.intro {
  padding: 60px 0;
  background-image: url("../img/intro-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 391px 421px;
}
.intro__list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  row-gap: 70px;
}
.intro__item {
  &:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  &:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  &:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  &:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  &:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  &:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}
.intro-card__title {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 12px;
}
.intro-card__text {
  font-size: 15px;
  line-height: 24px;
  color: $text-color;
}

@include breakpoint-down (1341) {
  .intro {
    background-size: 350px auto;
  }
}
@include breakpoint-down (1044) {
  .intro {
    background-size: 300px auto;
  }
}
@include breakpoint-down (950) {
  .intro {
    background-size: 250px auto;
  }
  .intro-card__title {
    font-size: 24px;
    line-height: 30px;
  }
}
@include breakpoint-down (800) {
  .intro {
    background: none;
  }
  .intro-card__text {
    font-size: 14px;
    line-height: 20px;
  }
  .intro__list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }
  .intro__item {
    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    &:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:nth-child(4) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    &:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &:nth-child(6) {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
}
@include breakpoint-down (570) {
  .intro {
    padding: 40px 0;
  }
  .intro-card__title {
    margin-bottom: 8px;
  }
  .intro__list {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .intro__item {
    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    &:nth-child(4) {
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
    &:nth-child(5) {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    &:nth-child(6) {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
    }
  }
}